{% extends 'base.html.twig' %}

{% block title %}Edit Devis{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box mb-4">
                    <div class="container mt-3">
                        {{ component('devis_form', {
                            devi: devi.id ? devi: null,
                            form: form
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
