<section id="featured" class="featured">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box">
                    <i class="bi bi-card-checklist"></i>
                    <h3><a href="">Vente en ligne - E-commerce</a></h3>
                    <p>Profitez de l’essor du e-commerce en vendant vos produits directement depuis votre site web ! Expace Development vous accompagne dans la création de votre site e-commerce: la clé pour booster vos ventes et satisfaire vos clients.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-headset"></i>
                    <h3><a href="">Un chef de projet dédié</a></h3>
                    <p>Bénéficiez d’un interlocuteur unique pour vous accompagner tout au long de votre projet. Notre chef de projet traduit vos objectifs commerciaux en fonctionnalités pour votre site internet.</p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-diagram-3"></i>
                    <h3><a href="">Accompagnement webmarketing</a></h3>
                    <p>Référencement naturel, publicité en ligne, réseaux sociaux ou email marketing… Tous les moyens sont bons pour atteindre vos objectifs. Profitez d’un accompagnement personnalisé pour faire connaitre votre entreprise.</p>
                </div>
            </div>
        </div>
    </div>
</section>