<section id="about" class="about">
      <div class="container">

      <div class="section-title">
            <h2>Fonctionnement</h2>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <img src="/images/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content">
            <h3>Notre mode de fonctionnement.</h3>
            <p class="fst-italic">
              Pour mener à bien notre tache, nous allons passer par différentes étapes juqu'as arriver au résultat final, vous livrer un projet fonctionnel.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Dans un premier temps les équipe d'Expace web development vont prendre conaissance des besoins du client, ainsi que récolter les premiers éléments disponible, logo, charte graphique s'ils existent déjà.</li>
              <li><i class="bi bi-check-circle"></i> Une fois la première étape franchi et validé par le client nos équipes seront en mesure de démarrer la phase de programmation de votre application tout en respectant le cachier des charges.</li>
              <li><i class="bi bi-check-circle"></i> Une fois votre application finalisé et les testes passés avec succès, votre application pouras être mise en production soit sur nos serveurs, ou bien sur celui de votre choix. Dans ce second cas de figure nous n'intervenons pas en cas de problême émanant de votre serveur.</li>
            
            </ul>
            <p>
              Nous formerons ensuite vos équipe à la gestion de ce nouvel outil et suivrons son référencement tout au long du contrat de gestion. Pendant cette période nous pourront également être amené à regler certains bugs qui pourrait apparaitre dans votre application.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->
