<section id="statistiques" class="counts">
    <div class="container">
        <div class="section-title">
            <h2>Statistiques</h2>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-emoji-smile"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1822" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Clients satisfaits</strong></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-journal-richtext"></i>
                    <span data-purecounter-start="0" data-purecounter-end="4827" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Projects réalisés</strong></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-code-square"></i>
                    <span data-purecounter-start="0" data-purecounter-end="185478" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Durée de codage</strong></p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                <div class="count-box">
                    <i class="bi bi-people"></i>
                    <span data-purecounter-start="0" data-purecounter-end="1825" data-purecounter-duration="1" class="purecounter"></span>
                    <p><strong>Nombre de clients</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>