{% extends 'base.html.twig' %}

{% block title %}Edit Users{% endblock %}

{% block body %}
    {{ component('breadcrumbs', {'title': block('title')}) }}

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box mb-4">
                    <div class="container mt-3">
                        {{ component('profil_update', {
                            user: user.id ? user: null,
                            form: profilForm
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="info-box mb-4">
                    <div class="container mt-3">
                        {{ component('credentials_update', {
                            user: user.id ? user: null,
                            form: credentialsForm
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
