.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 0.9375rem;
  line-height: 1.6;
  color: var(--gray-ldark);
  background-color: var(--white);
  background-clip: padding-box;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: 3px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.form-control:focus {
  color: var(--gray-ldark);
  background-color: var(--white);
  border-color: var(--azure);
  outline: 0;
  box-shadow: 0 0 0 2px rgba(70, 127, 207, 0.25);
}
.form-control.is-invalid:focus {
  color: var(--gray-ldark);
  background-color: var(--white);
  border-color: var(--bs-danger);
  outline: 0;
  box-shadow: 0 0 0 0;
}
.input-icon {
    position: relative;
  }
  
  .input-icon .form-control:not(:last-child) {
    padding-right: 2.5rem;
  }
  
  .input-icon .form-control:not(:first-child) {
    padding-left: 2.5rem;
  }
  
  .input-icon-addon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #d8d8d8;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 2.5rem;
    pointer-events: none;
  }
  
  .input-icon-addon:last-child {
    left: auto;
    right: 0;
  }
