<h1>Votre demande de projet évolue!</h1>

<p>
    Bonjour {{ prenom }},<br><br>

    Vous venez de recevoir une nouvelle notification <b>"{{message}}"</b><br><br>

    Vous pouvez retrouver cette notification en <a href="http://127.0.0.1:8000/profile/notifications/">cliquand ici</a> 

</p>

<p>
    Cordialement<br>
    L'équipe Expace Development
</p>