{% extends 'base.html.twig' %}

{% block title %}Editer le commentaire{% endblock %}

{% block body %}

    {{ component('breadcrumbs', {'title': block('title')}) }}
    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="info-box mb-4">
                        <div class="container mt-3">
                            {% for label, messages in app.flashes %}
                                <div class="alert alert-{{ label }}">
                                    {% for message in messages %}
                                        {{ message | raw }}    
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {{ component('blog_commentaires_form_admin', {
                                comment: comment.id ? comment: null,
                                form: form
                            }) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock %}
