<div
    {{ attributes }}
    {% if APP_ENV == 'dev' %}
        data-poll="delay(10000)|$render"
    {% else %}
        data-poll
    {% endif %}
>
    {% if this.allNotifications %}
        <li><a href="{{ path('app_notifications_index') }}"><i data-count="{{ this.allNotifications }}" class="fa-solid fa-bell fa-2x badger" style="font-size: 24px;"></i></a></li>
    {% else %}
        <li><a href="{{ path('app_notifications_index') }}"><i class="fa-solid fa-bell fa-2x" style="font-size: 24px;"></i></a></li>
    {% endif %}
</div>